body {
    background: url('bg-waterlily.png');
    background-size: 20%;
    cursor: url('/resources/bg-waterlily.png'), auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.dice-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.bottom-container {
    display: flex;
    flex-wrap: wrap;
}

.about-container {
    background-color: aliceblue;
    background-blend-mode: exclusion;
    border: dotted 1px black;
    margin: 3em;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    z-index: 0;
    height: 100%;
}

p {
    font-family: 'Wallpoet', cursive;
    font-weight: bold;
    padding: none;
    margin: 0;
}


.catalogue-container {
    background-color: aliceblue;
    background-blend-mode: exclusion;
    border: dotted 1px black;
    margin: 3em;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    z-index: 0;
    height: 100%;
}

.press-container {
    background-color: aliceblue;
    background-blend-mode: exclusion;
    border: dotted 1px black;
    margin: 3em;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    z-index: 0;
    height: 100%;
}

.mix-collection-container {
    background-color: aliceblue;
    background-blend-mode: exclusion;
    border: dotted 1px black;
    margin: 3em;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    z-index: 0;
    height: 100%;
}

.travel-container {
    background-color: aliceblue;
    background-blend-mode: exclusion;
    border: dotted 1px black;
    margin: 3em;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: absolute;
    z-index: 0;
    width: inherit;
}

.mix-info-container {
    background-color: aliceblue;
    background-blend-mode: exclusion;
    border: dotted 1px black;
    margin: 3em;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    z-index: 0;
    width: 18%;
    height: 100%;
}

.embed-container {
    width: 50vw;
    height: 80vh;
}

.about-social-links {
    font-family: 'Wallpoet', cursive;
}

.brenna-web-ring {
    position: relative;
    left:35vw;
}

p0 {
    font-family: 'Times New Roman';
    font-size: 0.9em;
    position: relative;
    z-index: 0;
}
 
#sc {
    width: 40vw;
    height: 40vw;
    border: dotted 1px black;
    filter: drop-shadow(0em 0em 5em aquamarine);
    animation: glowing 4s linear infinite alternate;
}

#dragon {
    width: 16vmax;
    animation: diagonal 30s linear infinite;
    position: absolute;
    z-index: 1;
    transform-origin: center;
    filter: drop-shadow(0.2em 0.2em 1em rgba(0, 0, 255, 0.459));
}

#mix-spotlight {
    margin: 3vh 20vw; 
}

#rollDice {
    width: 14vmax;
    margin: 3em;
    z-index: 3;
}

#rollDice:hover {
    animation: roll 2s linear;
    cursor: pointer;
}

#now-playing {
    vertical-align: bottom !important;
    filter: drop-shadow(0.5em 0.5em 2em rgb(255, 0, 0));
    z-index: 6;
}

@keyframes roll {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}

@keyframes glowing {
    0% { filter: drop-shadow(0em 0em 0em teal); }
    50% { filter: drop-shadow(0em 0em 5em black); }
    100% { filter: drop-shadow(0em 0em 10em aquamarine); }
}

@keyframes diagonal {
    0%   { transform: scaleX(1) translatex(0%) translatey(0%); }
    49.9% { transform: translatex(-500%) translatey(500%); }
    50% {transform: translatex(-500%) translatey(500%) scaleX(-1);}
    100% {transform: translatex(0%) translatey(0%) scaleX(-1);}
}

@media screen and (max-width: 880px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
    .top-container {
        justify-content: center;
    }
    .bottom-container {
        justify-content: center;
    }
    .about-container {
        width: 60vw;
    }
    .catalogue-container {
        width: 60vw;
    }
    .press-container {
        width: 60vw;
    }
    .mix-collection-container {
        width: 60vw;
    }
}

@media screen and (max-width: 600px) {
    .about-container {
        width: 80vw;
    }
    .catalogue-container {
        width: 80vw;
    }
    .press-container {
        width: 80vw;
    }
    .mix-collection-container {
        width: 80vw;
    }
    #sc {
        width: 60vw;
        height: 60vw;
    }

}